@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
*{
    margin:0;
    padding:0;
}
.body
{
    border:2px solid red;
    height:99vh;
    width:99vw;
    background:url('../img/bg.jpg')no-repeat center center/cover;
    /* background-repeat:no-repeat; */
    display:flex;
    /* justify-content:center; */
    /* align-items:center; */

}
#scoreBox
{
    position:absolute;
    top : 7%;
    font-family: 'New Tegomin', serif;
    right :14%;
    font-size:176%;
    font-weight:bold;
}
#highscoreBox
{
    position:absolute;
    top : 3%;
    font-family: 'New Tegomin', serif;
    right :14%;
    font-size:176%;
    font-weight:bold;
}
.board
{ 
        border:2px solid black;
        
}
#board
{
    display: grid;
    background:linear-gradient(rgb(128, 229, 128),rgb(238, 238, 135));
    height:92%;
    width:65%;
    margin:2%;
    grid-template-rows: repeat(25,1fr);
    grid-template-columns: repeat(25,1fr);
}
.head
{
    background:linear-gradient(red,yellow);
    border:2px solid purple;
    border-radius:6px;
    transform:scale();
}
.snake
{
    background-color: black;
    border: .25vmin solid white;
    border-radius: 12px;
}
.food
{
    background:black;
    border : .25vmin solid black;
    border-radius:8px;
}